*{
	margin: 0;
	padding: 0;
}
body{
	font-family:'Poppins' sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.main-grid{
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}
.shop_header{
	background-image: url(img/1.webp);

}
header{
	background-size: cover ;
	background-position: center center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	grid-column: 1 / -1;
	height: 60vh;
	color: white;
	display: flex;
	flex-direction: column;
}
nav{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items:center ;
	padding: 20px 50px;
}
.logo{
	height: 100%;
}
.menu ul{
	display: flex;
	list-style: none;
	font-size: px;
}
.menu ul li{
	padding: 1em 2em;
}
.menu ul li a{
	color: white;
	text-decoration: none;
}
.menu ul li a:hover{
	display: inline-block;
	color: #fff;
	background:#3f51b5;
	padding: 5px 15px;
	border-radius: 6px;
	transition: 0.6s;
}
.banner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner p{
	font-size: 22px;
	text-align: center;
	max-width: 40%;
	padding: 50px 0;
}
.contentInfo{
	grid-column: 2 / -2;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top:30px;
	padding-bottom: 50px;
}
.contentInfo p{
	padding: 20px;
	text-align: center;
}
.titles{
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20xp;
	grid-row-gap: 100px;
	margin-bottom: 100px;
	grid-gap: 20px;
}
.titles .item{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
}
.titles .item p{
	text-align: center;
	margin: 25px;
}
.titles .item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.button{
	background: #000;
	border-radius: 7px;
	text-align: center;
	color: white;
	padding: 10px 50px;
}
.button:hover{
	background: #3f51b5;
	transition: 0.9s;
}