* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


.btn_simple{
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 600;
  padding: 6px 34px;
  text-decoration: none;
  transition: all .4s ease;
  border-radius:20px;
}

.btn_simple:hover{
background-color: #b077ff;
color: #fff;
}

.btn{
  color: #fff;
  padding: 14px 40px;
  background-color: #722ED1;
  text-decoration: none;
  transition: all .4s ease;
  border-radius:24px;
  box-shadow: 0 3px 6px rgba(0,  0, 0, 0.16);
}

.btn:hover{
background-color: #fff;
color: #000;
}

.btn_white{
  background-color: #fff;
  color: #000;
}

.btn_white:hover{
  background-color: #722ED1;
  color: #fff;
}




#top_baner{
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
}

#header{
  padding-top: 24px;
}

.inner_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 48px;
  height: 48px;
  display: block;
}
.right_side_header{
  display: flex;
  align-items: center;
}

.mnu_top li {
list-style-type: none;
display: inline-block;
margin-right: 40px;
position: relative;
}

.mnu_top li a{
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color .4s ease;

}

.mnu_top li a:hover{
  color: grey;
}

.sub_menu{
  position: absolute;
  top: 35px;
  background-color: #fff;
  box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.16);
  z-index: 10;
  border-radius: 5px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity .4s ease;
  animation: opac .6s;

}


.sub_menu li {
  display: block;
}

.sub_menu a{
  padding: 4px 10px;
  font-size: 14px;
}


.sub_menu:hover{
opacity: 1;
}

.has_sab_menu::after{ 
  content:'';
  display: block;
  width: 8px;
  height:4px;
  background-image: url('img/favicon/20.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 2px;
  
}

.norif{
background-color: #722ED1;
border-radius: 20px;
padding: 10px 25px;
display: flex;
align-items: center;
}

.norif img{
width: 16px;
height: auto;
margin-right: 7px;
}

.norif p{
  color: #722ED1;
}

.norif a{
  transition: all .6s ease;
  text-decoration: none;
  border-bottom: 1px solid #722ED1;
  color: #722ED1;
}

.norif a:hover{
  border-color:#b077ff;
}


.mb_info h1{
   color: #000;
   font-size: 50px;
   font-weight: 900;
   line-height: 1.1;
   margin-top: 10px;
}

.description{
  color: #000000;
  margin: 14px 0 45px;
}

.btns{
  display: flex;
  align-items: center;
}

.btn_white{
  margin-left: 16px;
}

.main_baner{
  padding: 150px 0 250px;
}