body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background: #e7e7ec;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}


.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

}

.spatiu_img img{
	width: 250px;
	height: 200px;
}

.header__logo img{
	height: 40px;
}

/*  header */
.header{
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100px;
	background-color: white;
	position: fixed;
	padding: 0 50px;
}

.header__inner{
	padding: 20px 0px;
	align-items: center;
	display: flex;
	justify-content: space-between;

}
.nav{
	display: flex;
	font-size: 14px;
	font-weight: 700;
	margin-left: 190px;
}
.nav li a{
	color: black;
	position: relative;
	display: block;
}


    ul{
        padding: 0;
        list-style: none;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 20px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 11px;
        color: #333;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 2px;



    }
    ul li a:hover{
        color: #fff;
        background: #939393;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #fff;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;

    }
    ul li ul.dropdown li{
        display: block;
    }

ul li.hover a{
	background: #2e3192;
	color: #fff;
}

ul li a:hover{
	color: #fff;
	background:#2e3192;
	transition:0.5s;
	 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;
	height: 700px;
	background-size:cover;
	background-image:url(img/font1.jpg);
	max-width: 1550px;
}
.btn{
	padding: 14px 40px;
	border-radius: 2px;
	display:inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: background .1s linear;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 100px;

}
.btn--red{
background: #2e3192;
}
.btn--red:hover{
	background: #6689BD;
}

.btn--long{
	min-width: 280px;
}


.feauters{
	flex-wrap: wrap;
	display: flex;
	margin: 100px 0;
}

.feature_img{
	margin-bottom: 20px;

}

.feature_title{
	font-size: 14px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.feature__text{
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
}

.works{
	display: flex;
	flex-wrap: wrap;
	margin-top: 170px;
}

.works__item{
	height: 350px;
	width: 25%;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;

}

.works__item:hover .works__content{
opacity: 1;
}

.works__img{
position: absolute;
top: 0;
left: 0;
z-index: 1;
min-width: 100%;
}

.works__content{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 68, 130, 0.7);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: opacity .2s linear;
}

.works__title{
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.works__text{
	font-size: 14px;
	color: #fff;
}
.team{
	margin: 100px 0 70px;
}
.team__inner{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.team__item{
	width: 25%; 
	padding: 0 15px;
	margin-bottom: 70px;
}
.team__photo{
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
	height: 270px;
	width: 290px;
}

.team__name{

font-size: 22px;
color: #2d3033;
margin-bottom: 8px;
}






.testimonios{
	background-color:#5D6D7E  ;
	overflow: hidden;
	margin-bottom: 100px;
}

.testimonios__item{
	display: flex;
	flex-wrap: wrap;

}

.testimonios__photo{
	width: 40%;
	height: 500px;
	position: relative;

}


.testimonios__img{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	transform: translateY(-50%);
	display: block;
	margin: 0 auto;

}

.testimonios__content{
	width: 60%;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.testimonios__text{
	font-family: 'Cardo', sans-serif;
	font-style: italic;
	font-size: 30px;
	line-height: 1.2;
	color: #fff;

	text-align: center;
}

.testimonios__autor{
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	margin-right: 20px;
	line-height: 1.6;
}




/*FOOTER*/

.footer{
	padding: 70px 0;
	background-color: #3a3e64;

}
.footer__inner{
	display: flex;
	flex-wrap: wrap;

}
.footer__block{
	width: 33.33333%;
	text-align: center;

}

.footer__titel{
	margin-bottom: 10px;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.fooetr__adres a{
	text-decoration: none;
	color: rgba(255, 255, 255, .5);
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
}

.footer__block a:hover{
	color: #fff;
	transition: 0.6s;
}

.footer__text{
	color: rgba(255, 255, 255, .5);
	font-size: 14px;
	line-height: 21px;
}

.social__item{
	margin-right: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 2px solid #818181;
}

.team__prof{
	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.team_social{
	display: flex;
}
.team_social--footer{
	justify-content: center;
}

.team_social--footer .social__item{
	border-width: 3px; 
}

/*footer*/




/*pgm_sibtitle*/

.pgm_all li a{
	color: #fff;
}

.pgm_text{
	margin-top: 50px;
	color: #fff;
	text-align: center;
	background-color: #2e3192;
	padding: 15px 20px;
	font-size: 30px;
    font-family: 'Montserrat';
    background: #2e3192;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.feauters{
	flex-wrap: wrap;
	display: flex;
	margin: 100px 0;
	justify-content: center;
}

.feature_items img{
	padding: 0 20px;
	width: 33.33333%;
	text-align: center;
	margin: 25px 0;
	height: 300px;
	width: 380px;
	margin: 0 auto;



}

.feature_items1 img{
	margin-left: 95px;
}


.feature_items img:hover{
	transform: scale(1.15);
	transition: 0.6s;
}


.feature_img{
	margin-bottom: 20px;
}



.pgm_subtitle{
	color: #fff;
    font-family: 'Montserrat';
    background: #2e3192;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 100px;
    height: 550px;
}

.pgm_title{
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}

.intro2{
display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	background-size:cover;
	background-image:url(img/aplicag.png);
	max-width: 1550px;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.pgm_p{
	font-size: 20px;
	}

.pgm_list{
	line-height: 1.55;
}

.pgm_all{
	line-height: 2;
	padding-left: 20px;
}

/*pgm*/

/*2020 +2021+2022*/
.team{
	margin: 50px 0 70px;
}
.team__inner{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.team__item{
	width: 25%; 
	padding: 0 15px;

}
.team__photo{
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
	height: 270px;
	width: 290px;
}

.team__name{

font-size: 22px;
color: #2d3033;
margin-bottom: 8px;
}


.mem_2020{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 150px;
	background-size:cover;
}

.intro__title1{
	font-size: 30px;
	text-align: center;
	font-family: 'Montserrat';
	padding: 20px;
	background: #2e3192;
	color: white;
	width: 40%;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

/*2020+2021+2022*/


/*scoala t.p*/

button {
  cursor: pointer;
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}

.project {
  position: relative;
  overflow: hidden;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #474545;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}
.grid__overlay {
  background: rgba(47, 68, 130, 0.7);
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #D1A39E;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  padding: 20px;
  position: relative;
  opacity: 1;
  padding-top: 36px;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: #D1A39E;
}

.project__image {
  margin-left: -50%;
  width: 700px;
  height: 450px;
  flex-wrap: wrap;
}



.team{
  margin: 50px 0 70px;
}
.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__item{
  width: 25%; 
  padding: 0 15px;

}
.team__photo{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  height: 270px;
  width: 290px;
}

.team__name{

font-size: 22px;
color: #2d3033;
margin-bottom: 8px;
}

/*dez*/

.dez_cont {
  width: 100%;

}

.content{
  margin-top: 50px;
  font-family: 'Montserrat';
    font-size: 13pt;
    font-style: normal;
    font-weight: 500;
    text-decoration: normal;
    vertical-align: baseline;
    line-height: 1.55;


}




.shaped {

   background: black url(img/logo1.png) center top no-repeat;
   height:400px;
   width:450px;
   background-size:cover;
   float:right;
   shape-margin:20px;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
     clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%)

}


/*scoala t.p*/



/*cluburi*/

.content1{
  font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: normal;
    vertical-align: baseline;
    line-height: 1.55;
    margin-left: 400px;
}




.shaped1 {
   background: black url(img/logo2.jpg) center top no-repeat;
   height:350px;
   width:340px;
   background-size:cover;
   float:left;
   border-radius: 15px;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
   margin-left: 10px;

}

.shaped2 {
   background: black url(img/logo3.jpg) center top no-repeat;
   height:300px;
   width:310px;
   background-size:cover;
   float:left;
   border-radius: 15px;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.shaped3 {
   background: black url(img/logo4.png) center top no-repeat;
   height:300px;
   width:310px;
   background-size:cover;
   float:right;
   border-radius: 15px;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.content3{
  font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: normal;
    vertical-align: baseline;
    line-height: 1.55;
}


.shaped4 {
   background: black url(img/logo5.jpg) center top no-repeat;
   height:350px;
   width:340px;
   background-size:cover;
   float:left;
   border-radius: 15px;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}


.shaped5 {
    background: black url(img/logo6.png) center top no-repeat;
   height:350px;
   width:340px;
   background-size:cover;
   float:right;
   border-radius: 15px;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  
}


.dez_h2{
  margin-top: 20px;
  text-align: center;
  color: #2C2C2C;
  font-weight: 600;
}

.dez_cont1 {
   wight:60vw;
  width: 100%;
  margin-top: 150px;

}

.dez_h1{
  margin-top: 110px;
  text-align: center;
  color: #2C2C2C;
  font-weight: 600;
}

}


/*cluburi*/


/*consiliul elevilor*/
.cons_h1{
	margin-top: 130px;
    color: #fff;
    text-align: center;
    background-color: #2e3192;
    padding: 15px 20px;
    font-size: 30px;
    font-family: 'Montserrat';
    background: #2e3192;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.intro3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	background-size:cover;
	background-image:url(img/consil.png);
	max-width: 1550px;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.cons_img img {
	padding: 0 20px;
    text-align: center;
    height: 300px;
    width: 380px;
    margin: 0 auto;
}

.cons_img img:hover{
	transform: scale(1.15);
	transition: 0.6s;
}

/*spatiu*/
.intro1{
display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	background-size:cover;
	background-image:url(img/spatiu.png);
	max-width: 1550px;
}
.spatiu{
	font-family: 'Montserrat';
	padding-left: 40px;
}

.spatiu_reg{
	font-size:28pt ;
    font-weight: 600;
    line-height: 1.21;
    color: rgba(33,33,33,1);
    margin-top: 30px;
}
.spatiu_text{
	line-height: 1.27;
	font-weight: 500;
	font-size: 15pt;
	margin-bottom: 20px;
}

.spatiu_list{
	 font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    color: #6A6B6B;
}
/*contacte*/

.contacte{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	background-size:cover;
	background-image:url(img/contacte.png);
	max-width: 1550px;
}

.back_contact{
	color: #fff;
    font-family: 'Montserrat';
    background: #2e3192;
    position: relative;
    height: 350px;

}

.seting{
	height: 250px;
	margin-top: 50px;
}

.orarul_poza{
	 width: 288px;
	 height: 288px;
	 margin-top: 20px;
}

.orar{
	margin-top: 50px;
	position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 90px;
    }






.harta{
grid-column: 1/-1;
	width: 100%;
	height: 60vh;
	margin-top: 20px;	
}

.calendar_calendar{
	grid-column: 1/-1;
	width: 100%;
	height: 78vh;
	}







.text_contact{
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 2;
       }

       .email_contact{
       	color: white;

       }

/*contacte*/


/*calendar*/

.calendar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	background-size:cover;
	background-image:url(img/calendar1.png);
	max-width: 1550px;
	color: ;
}


/*calendar*/

/*burger*/



#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: none;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin-left: 10px;
  line-height: 2;
}
.menu__item:hover {
  background-color: #2e3192;
}



/*burger*/


/*Media*/

@media (max-width: 1300px){
	.intro2{
		margin-left: -65px;
	}
	.intro3{
		margin-left: -65px;
	}
	.works__item{
		width: 50%;
	}
}


@media(max-width1200px){
	.calendar{
		margin-left: -200px;
	}
	.content{
		margin-left: 30px;
	}
}


@media (max-width: 1150px){
	.feature_items img{
		width: 283px;
		height: 246px;
	}
	.intro2{
		margin-left: -170px;
	}
	.intro3{
		margin-left: -170px;
	}
	
	.team__item{
		width: 50%;
		text-align: center;
	}
	.team__photo{
		margin-left: auto;
		margin-right: auto;
	}
	.team_social{
		justify-content: center;
	}
	.intro__title1 {
		width: 50%;
	}
	.intro1{
		height: 400px;
	}

}



@media (max-width: 1000px){
	.intro2{
		margin-left: -230px;
	}
	.pgm_subtitle{
		height: 570px;
	}
	.intro3{
		margin-left: -230px;
	}
	.testimonios__item{
		width: 100%;
	}
	.testimonios__content{
		width: 100%;
		padding-left: 24px;
	}
	.testimonios__img{
    left: 50%;
	}
	.testimonios__autor{
		font-size: 15px;
	}
	.calendar{
		margin-left: -215px;
    height: 465px;
	}
	.intro1{
		margin-left: -110px;
	}
	.project{
		
		width: 50%;
	}

	.works__content{
		width: 100%;
	}
	.shaped1{
		display: flex;
		flex-wrap: wrap;
	}
}



@media (max-width: 884px){

	.contacte{
		    margin-left: -360px;
	}
	.feature_items img{
		height:200px;
		width: 243px;
	}
}





@media (max-width: 850px){
	.intro2{
		margin-left: -330px;
	}
	.intro3{
		margin-left: -330px;
	}
	.pgm_subtitle{
		height: 660px;
	}
	.feature_items img{
	height: 211px;
    width: 264px;
	}
	.calendar{
		margin-left: -333px;
    height: 465px;

	}
	.calendar_calendar {
    height: 50vh;
}
}




@media (max-width: 820px){
	.contacte{
		margin-left: -360px;
	}

	.text_contact{
		font-size: 10px;
	}
	.seting {
	height: 199px;
    width: 235px;
    margin-top: 66px;
	}


	.orarul_poza{
		    height: 199px;
    width: 235px;
    margin-top: 66px;
	}

	.nav{
		display: none;
	}

	.header__logo img{
		height: 30px;
		margin-top: 15px;
	}
	.menu__btn{
		display: block;
	}
	}

@media (max-width: 768px){
	.intro2{
		margin-left: -360px;
	}
	.intro3{
		margin-left: -360px;
		height: 570px;
	}
	.feature_items img {
    height: 174px;
    width: 222px;
}

.team__item{
		width: 100%;
		
	}
	.works__item{
		width: 100%;
	}
	.calendar{
		margin-left: -347px;
    height: 465px;
	}
		.calendar_calendar {
    height: 50vh;
}

.intro1{
	margin-left: -250px;
}

.intro3{
	margin-left: -524px;
}
}





@media (max-width: 600px){
	.intro2{
		margin-left: -450px;
	}
	.intro3{
		margin-left: -588px;
	}
	.feature_items img {
    height: 138px;
    width: 189px;
}
.intro1{
	margin-left: -320px;
}
}





@media (max-width: 760px){

	/*footer*/
	.footer{
		padding: 30px 0;
	}

	.footer__block{
		width: 100%;
		margin-bottom: 30px;
	}
	.footer__block:last-child{
		margin-bottom: 0;
	}
.spatiu_img img{
	height: 150px;
	width: 200px;
}
.shaped{
	height: 350px;
	width: 400px;
}
.shaped{
	width: 400px;

}
.dez_h1{
	font-size: 30px;
}

}



@media (max-width: 600px){
/*contact*/


.contacte{
		margin-left: -477px;
	}
.text_contact{
		font-size: 8px;
	}
	.seting {
	height: 144px;
    width: 177px;
    margin-top: 101px;
	}


	.orarul_poza{
	height: 195px;
    width: 192px;
    margin-top: 90px;
	}
	.intro3{
		margin-left: -588px;
	}
	.intro__title1{
		width: 70%;
	}

	.intro{
		margin-left: -200px;
		height: 500px;
	}

/*contact*/

.spatiu_img img{
	width: 100%;
    height: 450px;
}

	}





	@media (max-width: 570px){
		.intro3{
		margin-left: -620px;
	}
	
	.feature_items img{
		width: 100%;
		height: 32%;
		}
		.testimonios__img{
    left: 20%;
	}
	.calendar{
		margin-left: -453px;
    height: 465px;
	}
	}





	@media (max-width: 484px){
		.contacte{
		margin-left: -538px;
	}
	.text_contact{
		font-size: 8px;
		flex-wrap: wrap;
	}
	.seting {
	    height: 233px;
    width: 66%;
    margin-top: 101px;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(-26%, -5%);
	}

	.intro3{
		margin-left: -400px;
		height: 400px;
	}

	.orarul_poza{
	 height: 216px;
    width: 66%;
    margin-top: 83px;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(22%, -5%);
	}

	.back_contact{
		height: 663px;
	}
	}





	@media (max-width: 415px){
	.contacte{
		margin-left: -574px;
	}
	.pgm_subtitle{
		height: 800px;
	}
	.pgm_p{
		font-size: 17px;
	} 
	.intro2{
		margin-left: -402px;
		height: 406px;
	}
	.intro3{
		margin-left: -436px;
	}
	.feature_items img{
		width: 100%;
		height: 285px;
	}
	.btn{
		left: 67%;
	}
	.testimonios__img{
    left: -5%;
	}
	
	.calendar_calendar{
		height: 50vh;
	}
	.calendar{
		margin-left: -526px;
    height: 465px;
	}
	.intro1{
		margin-left: -415px;
	}
	.shaped {
		height: 350px;
		width: 400px;
	}
	.dez_h1{
		margin-top: 100px;
	}
	.shaped1{
		margin-left: 33px;
	}

}



	@media (max-width: 400px){

	.intro{
		height: 420px;
	}

	.intro1{
		height: 500px;
		margin-left: 200px;
	}
	
	.shaped1{
		margin-left: 0px;
	}
}







	@media (max-width: 394px){
		.contacte{
		margin-left: -554px;
	}
	.text_contact{
		font-size: 8px;
		flex-wrap: wrap;
	}
	.seting {
	    height: 233px;
    width: 66%;
    margin-top: 101px;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(-26%, -5%);
	}


	.orarul_poza{
	 height: 216px;
    width: 66%;
    margin-top: 83px;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(22%, -5%);
	}
	.contacte{
		height: 485px;
	}
	.back_contact{
		height: 663px;
	}

	.intro1{
		margin-left: -426px;
		height: 400px;
	}

}

.@media (max-width: 360px){
	.intro2{
		margin-left: -318px;
    height: 333px;
	}
	.intro3{
		margin-left: -318px;
	}
}



/*Meida*/